{"openapi":"3.1.0","info":{"title":"Moflay API","description":"The fastest way to add M-Pesa payments.","version":"1.0.0","contact":{"name":"Moflay Support","email":"support@moflay.com","url":"https://moflay.com"},"termsOfService":"https://moflay.com/legal/terms-of-service"},"servers":[{"url":"https://api.moflay.com","description":"Production server"}],"security":[{"token":[]}],"tags":[{"name":"Customers","description":"Create and manage customers in the organization"},{"name":"Transactions","description":"Everything about transactions in the organization"},{"name":"Express","description":"Create M-Pesa Express payments. Use the returned paymentId with the Payments API to read status."},{"name":"Payments","description":"Track payment lifecycle and status for paymentIds returned by Express payment creation."}],"externalDocs":{"url":"https://moflay.com/docs","description":"Moflay Documentation"},"components":{"schemas":{"PaymentWebhookPayload":{"type":"object","properties":{"id":{"type":"string","maxLength":255,"example":"trxn_YGZBY32PBBavYbhL","description":"Unique identifier for the transaction, prefixed with 'trxn_'"},"object":{"type":"string","example":"transaction"},"environment":{"$ref":"#/components/schemas/Environment"},"source":{"$ref":"#/components/schemas/Source"},"customerId":{"$ref":"#/components/schemas/CustomerId"},"type":{"type":"string","enum":["payment"],"example":"payment","description":"The type of transaction"},"amount":{"type":"number","example":1000,"description":"Transaction amount in cents (e.g., 1000 = KES 10.00)"},"description":{"type":"string","example":"Payment for Order #12345 - Premium Subscription","description":"Human-readable description of the transaction purpose"},"currency":{"type":"string","example":"KES","description":"The transaction currency"},"status":{"$ref":"#/components/schemas/TransactionStatus"},"phoneNumber":{"type":"string","description":"Safaricom phone number in local (e.g., 0712345678, 0110123456) or international (e.g., 254712345678, 254110123456) format, transformed to 254XXXXXXXXX for M-PESA STK Push. Supports all Safaricom prefixes (070X, 074X, 0757–0759, 0768–0769, 079X, 0110–0117).","example":"254712345678"},"metadata":{"$ref":"#/components/schemas/Metadata"},"receiptNumber":{"type":["string","null"],"maxLength":50,"example":"QMF7MBB5ED","description":"The M-Pesa receipt number"},"failureReason":{"type":["string","null"],"example":"Insufficient balance","description":"The transaction decline reason"},"processedAt":{"type":["string","null"],"example":"2024-12-19T10:30:00.000Z","description":"Timestamp when the transaction was processed (ISO 8601 format)"},"createdAt":{"type":"string","example":"2024-12-19T10:25:00.000Z","description":"Timestamp when the transaction was created (ISO 8601 format)"},"paidAt":{"type":["string","null"],"example":"2024-12-19T10:32:00.000Z","description":"Timestamp when the transaction was successfully paid (ISO 8601 format)"},"failedAt":{"type":["string","null"],"example":"2024-12-19T10:33:00.000Z","description":"Timestamp when the transaction failed (ISO 8601 format)"},"unknownAt":{"type":["string","null"],"example":"2024-12-19T10:40:00.000Z","description":"Timestamp when the transaction moved to an unknown state (ISO 8601 format)"}},"required":["id","object","environment","source","customerId","type","amount","description","currency","status","phoneNumber","metadata","receiptNumber","failureReason","processedAt","createdAt","paidAt","failedAt","unknownAt"],"example":{"id":"trxn_ABC123DEF456GHI","customerId":"cus_MNO345PQR678STU","object":"transaction","environment":"sandbox","type":"payment","amount":1000,"description":"Payment for Order #12345 - Premium Subscription","currency":"KES","status":"completed","phoneNumber":"254712345678","receiptNumber":"QMF7MBB5ED","failureReason":null,"metadata":{},"source":"api","processedAt":"2024-12-19T10:30:00.000Z","createdAt":"2024-12-19T10:25:00.000Z","paidAt":"2024-12-19T10:32:00.000Z","failedAt":null,"unknownAt":null}},"Environment":{"type":"string","enum":["sandbox","production"],"description":"The environment of the transaction. Either 'sandbox' or 'production'","example":"sandbox"},"Source":{"type":"string","enum":["api","dashboard","checkout"],"example":"api","description":"The source of the resource. Either 'api', 'dashboard', or 'checkout'"},"CustomerId":{"type":["string","null"],"maxLength":255,"example":"cus_GqfKXLmg61LURZhB","description":"Unique identifier for the customer, prefixed with 'cus_'"},"TransactionStatus":{"type":"string","enum":["initiating","pending","completed","failed","canceled","unknown"],"example":"completed","description":"Current status. Possible values: initiating, pending, completed, failed, canceled, unknown"},"Metadata":{"type":"object","additionalProperties":{"anyOf":[{"type":"string","maxLength":500},{"type":"integer"},{"type":"number"},{"type":"boolean"}]},"description":"Key-value object allowing you to store additional information.\n\n**Key Requirements:**\n- Must be a string\n- Maximum length of 40 characters\n\n**Value Types:**\n- String (maximum 500 characters)\n- Integer\n- Floating-point number\n- Boolean\n\n**Limits:**\n- Maximum of 50 key-value pairs","example":{"user_preference":"dark_mode","last_login":1640995200,"is_premium":true,"account_balance":1250.75,"notifications_enabled":false}},"CustomerDeletedWebhookPayload":{"type":"object","properties":{"id":{"type":"string","maxLength":255,"example":"cus_GqfKXLmg61LURZhB","description":"Unique identifier for the customer, prefixed with 'cus_'"}},"required":["id"],"example":{"id":"cus_GqfKXLmg61LURZhB"}},"CustomerListResponse":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Customer"}},"meta":{"type":"object","properties":{"cursor":{"type":["string","null"],"example":"eyJpZCI6IjEyMyJ9","description":"Cursor for pagination, representing the last item from the previous page"},"hasPreviousPage":{"type":"boolean","example":false},"hasNextPage":{"type":"boolean","example":true}},"required":["cursor","hasPreviousPage","hasNextPage"]}},"required":["data","meta"],"example":{"data":[{"id":"cus_GqfKXLmg61LURZhB","object":"customer","environment":"sandbox","name":"John Doe","phoneNumber":"254712345678","description":"VIP customer with recurring payments","metadata":{},"countryCode":"KE","isActive":true,"isVerified":true,"firstTransactionAt":"2024-12-15T09:15:00.000Z","source":"api","createdAt":"2024-12-10T08:30:00.000Z","updatedAt":"2024-12-19T14:22:00.000Z","lastActiveAt":"2024-12-19T16:45:00.000Z"}],"meta":{"cursor":"eyJpZCI6ImN1c19HcWZLWExtZzYxTFVSWmhCIn0=","hasPreviousPage":false,"hasNextPage":true}},"description":"List of all customers"},"Customer":{"type":"object","properties":{"id":{"type":"string","maxLength":255,"example":"cus_GqfKXLmg61LURZhB","description":"Unique identifier for the customer, prefixed with 'cus_'"},"object":{"type":"string","example":"customer"},"environment":{"allOf":[{"$ref":"#/components/schemas/Environment"},{"description":"The environment of the customer. Either 'sandbox' or 'production'"}]},"name":{"type":["string","null"],"minLength":2,"example":"John Doe","description":"The name of the customer"},"phoneNumber":{"type":"string","description":"The phone number of the customer","example":"254712345678"},"description":{"type":["string","null"],"example":"VIP customer with recurring payments","description":"The description of the customer"},"countryCode":{"type":"string","maxLength":2,"example":"KE","description":"The country code of the customer"},"isActive":{"type":"boolean","example":true,"description":"Whether the customer is active"},"isVerified":{"type":"boolean","example":true,"description":"Whether the customer is verified"},"lastActiveAt":{"type":["string","null"],"example":"2024-12-19T16:45:00.000Z","description":"Timestamp when the customer was last active (ISO 8601 format)"},"firstTransactionAt":{"type":["string","null"],"example":"2024-12-15T09:15:00.000Z","description":"Timestamp when the customer made their first transaction (ISO 8601 format)"},"source":{"$ref":"#/components/schemas/Source"},"metadata":{"$ref":"#/components/schemas/Metadata"},"createdAt":{"type":"string","example":"2024-12-10T08:30:00.000Z","description":"Timestamp when the customer was created (ISO 8601 format)"},"updatedAt":{"type":"string","example":"2024-12-19T14:22:00.000Z","description":"Timestamp when the customer was last updated (ISO 8601 format)"}},"required":["id","object","environment","name","phoneNumber","description","countryCode","isActive","isVerified","lastActiveAt","firstTransactionAt","source","metadata","createdAt","updatedAt"],"example":{"id":"cus_GqfKXLmg61LURZhB","object":"customer","environment":"sandbox","name":"John Doe","phoneNumber":"254712345678","description":"VIP customer with recurring payments","metadata":{},"countryCode":"KE","isActive":true,"isVerified":true,"firstTransactionAt":"2024-12-15T09:15:00.000Z","source":"api","createdAt":"2024-12-10T08:30:00.000Z","updatedAt":"2024-12-19T14:22:00.000Z","lastActiveAt":"2024-12-19T16:45:00.000Z"}},"MissingApiKeyError":{"type":"object","properties":{"error":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code of the error","example":401},"code":{"type":"string","description":"Machine-readable error name","example":"missing_api_key"},"message":{"type":"string","x-speakeasy-error-message":true,"description":"Human-readable error message","example":"Missing API key in the authorization header."}},"required":["status","code","message"]}},"required":["error"],"description":"Missing API Key Error"},"InvalidApiKeyError":{"type":"object","properties":{"error":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code of the error","example":403},"code":{"type":"string","description":"Machine-readable error name","example":"invalid_api_key"},"message":{"type":"string","x-speakeasy-error-message":true,"description":"Human-readable error message","example":"API key is invalid."}},"required":["status","code","message"]}},"required":["error"],"description":"Invalid API Key Error"},"MethodNotAllowedError":{"type":"object","properties":{"error":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code of the error","example":405},"code":{"type":"string","description":"Machine-readable error name","example":"method_not_allowed"},"message":{"type":"string","x-speakeasy-error-message":true,"description":"Human-readable error message","example":"Method is not allowed for the requested path."}},"required":["status","code","message"]}},"required":["error"],"description":"Method Not Allowed Error"},"ValidationError":{"type":"object","properties":{"error":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code of the error","example":422},"code":{"type":"string","description":"Machine-readable error name","example":"validation_error"},"message":{"type":"string","x-speakeasy-error-message":true,"description":"Human-readable error message","example":"We found an error with one or more fields in the request."},"validation":{"type":"array","items":{"type":"object","properties":{"field":{"type":"string","description":"The name of the field that failed validation","example":"email"},"message":{"type":"string","description":"The validation error message for the field","example":"Invalid email format"}},"required":["field","message"]},"description":"List of field-specific validation issues","example":[{"field":"email","message":"Invalid email format"},{"field":"age","message":"Expected number, received string"}]}},"required":["status","code","message","validation"]}},"required":["error"]},"InvalidAccessError":{"type":"object","properties":{"error":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code of the error","example":422}},"required":["status"]},"code":{"type":"string","description":"Machine-readable error name","example":"invalid_access"},"message":{"type":"string","x-speakeasy-error-message":true,"description":"Human-readable error message","example":"The API key does not have the necessary permissions to access this resource."}},"required":["error","code","message"]},"RateLimitExceededError":{"type":"object","properties":{"error":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code of the error","example":429},"code":{"type":"string","description":"Machine-readable error name","example":"rate_limit_exceeded"},"message":{"type":"string","x-speakeasy-error-message":true,"description":"Human-readable error message","example":"You have exceeded your request limit. Please try again later."}},"required":["status","code","message"]}},"required":["error"],"description":"Rate Limit Exceeded Error"},"InternalServerError":{"type":"object","properties":{"error":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code of the error","example":500},"code":{"type":"string","description":"Machine-readable error name","example":"internal_server_error"},"message":{"type":"string","x-speakeasy-error-message":true,"description":"Human-readable error message","example":"An unexpected error occurred."}},"required":["status","code","message"]}},"required":["error"],"description":"Internal Server Error"},"NotFoundError":{"type":"object","properties":{"error":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code of the error","example":404},"code":{"type":"string","description":"Machine-readable error name","example":"not_found"},"message":{"type":"string","x-speakeasy-error-message":true,"description":"Human-readable error message","example":"The requested endpoint does not exist."}},"required":["status","code","message"]}},"required":["error"],"description":"Customer Not Found"},"DuplicateError":{"type":"object","properties":{"error":{"type":"object","properties":{"status":{"type":"number","description":"HTTP status code of the error","example":409},"code":{"type":"string","description":"Machine-readable error name","example":"duplicate_error"},"message":{"type":"string","x-speakeasy-error-message":true,"description":"Human-readable error message","example":"A record with this information already exists."}},"required":["status","code","message"]}},"required":["error"],"description":"Duplicate Error"},"CustomerRequest":{"type":"object","properties":{"name":{"anyOf":[{"type":"string"},{"type":"string","minLength":2}]},"phoneNumber":{"type":"string","description":"The phone number of the customer","example":"254712345678"},"description":{"type":"string"},"metadata":{"$ref":"#/components/schemas/Metadata"}},"required":["phoneNumber"]},"CustomerDeleteResponse":{"type":"object","properties":{"id":{"allOf":[{"$ref":"#/components/schemas/CustomerId"},{"description":"Unique identifier for the customer, prefixed with 'cus_'."}]}},"required":["id"],"example":{"id":"cus_GqfKXLmg61LURZhB"},"description":"Customer deleted successfully"},"TransactionListResponse":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Transaction"}},"meta":{"type":"object","properties":{"cursor":{"type":["string","null"],"example":"eyJpZCI6IjEyMyJ9","description":"Cursor for pagination, representing the last item from the previous page"},"hasPreviousPage":{"type":"boolean","example":false},"hasNextPage":{"type":"boolean","example":true}},"required":["cursor","hasPreviousPage","hasNextPage"]}},"required":["data","meta"],"example":{"data":[{"id":"trxn_ABC123DEF456GHI","customerId":"cus_MNO345PQR678STU","object":"transaction","environment":"sandbox","type":"payment","amount":1000,"description":"Payment for Order #12345 - Premium Subscription","currency":"KES","status":"completed","phoneNumber":"254712345678","receiptNumber":"QMF7MBB5ED","failureReason":null,"metadata":{},"source":"api","processedAt":"2024-12-19T10:30:00.000Z","createdAt":"2024-12-19T10:25:00.000Z","paidAt":"2024-12-19T10:32:00.000Z","failedAt":null,"unknownAt":null}],"meta":{"cursor":"eyJpZCI6InRyeG5fQUJDMTIzREVGNDU2R0hJIn0=","hasPreviousPage":false,"hasNextPage":true}},"description":"List of all transactions"},"Transaction":{"type":"object","properties":{"id":{"type":"string","maxLength":255,"example":"trxn_YGZBY32PBBavYbhL","description":"Unique identifier for the transaction, prefixed with 'trxn_'"},"customerId":{"$ref":"#/components/schemas/CustomerId"},"object":{"type":"string","example":"transaction"},"environment":{"$ref":"#/components/schemas/Environment"},"currency":{"type":"string","example":"KES","description":"The transaction currency"},"amount":{"type":"number","example":1000,"description":"Transaction amount in cents (e.g., 1000 = KES 10.00)"},"description":{"type":"string","example":"Payment for Order #12345 - Premium Subscription","description":"Human-readable description of the transaction purpose"},"phoneNumber":{"type":"string","description":"Safaricom phone number in local (e.g., 0712345678, 0110123456) or international (e.g., 254712345678, 254110123456) format, transformed to 254XXXXXXXXX for M-PESA STK Push. Supports all Safaricom prefixes (070X, 074X, 0757–0759, 0768–0769, 079X, 0110–0117).","example":"254712345678"},"status":{"$ref":"#/components/schemas/TransactionStatus"},"type":{"type":"string","enum":["payment"],"example":"payment","description":"The type of transaction"},"receiptNumber":{"type":["string","null"],"maxLength":50,"example":"QMF7MBB5ED","description":"The M-Pesa receipt number"},"processedAt":{"type":["string","null"],"example":"2024-12-19T10:30:00.000Z","description":"Timestamp when the transaction was processed (ISO 8601 format)"},"paidAt":{"type":["string","null"],"example":"2024-12-19T10:32:00.000Z","description":"Timestamp when the transaction was successfully paid (ISO 8601 format)"},"failedAt":{"type":["string","null"],"example":"2024-12-19T10:33:00.000Z","description":"Timestamp when the transaction failed (ISO 8601 format)"},"unknownAt":{"type":["string","null"],"example":"2024-12-19T10:40:00.000Z","description":"Timestamp when the transaction moved to an unknown state (ISO 8601 format)"},"failureReason":{"type":["string","null"],"example":"Insufficient balance","description":"The transaction decline reason"},"metadata":{"$ref":"#/components/schemas/Metadata"},"createdAt":{"type":"string","example":"2024-12-19T10:25:00.000Z","description":"Timestamp when the transaction was created (ISO 8601 format)"},"source":{"$ref":"#/components/schemas/Source"}},"required":["id","customerId","object","environment","currency","amount","description","phoneNumber","status","type","receiptNumber","processedAt","paidAt","failedAt","unknownAt","failureReason","metadata","createdAt","source"],"example":{"id":"trxn_ABC123DEF456GHI","customerId":"cus_MNO345PQR678STU","object":"transaction","environment":"sandbox","type":"payment","amount":1000,"description":"Payment for Order #12345 - Premium Subscription","currency":"KES","status":"completed","phoneNumber":"254712345678","receiptNumber":"QMF7MBB5ED","failureReason":null,"metadata":{},"source":"api","processedAt":"2024-12-19T10:30:00.000Z","createdAt":"2024-12-19T10:25:00.000Z","paidAt":"2024-12-19T10:32:00.000Z","failedAt":null,"unknownAt":null}},"TransactionId":{"type":"string","minLength":4,"maxLength":255,"example":"trxn_ABC123DEF456GHI","description":"Unique identifier for the transaction, prefixed with 'trxn_'"},"DarajaExpressResponse":{"type":"object","properties":{"paymentId":{"type":"string","example":"pay_ABC123DEF456GHI","description":"Unique identifier for the payment, prefixed with 'pay_'"},"transactionId":{"type":"string","example":"trxn_ABC123DEF456GHI","description":"Unique identifier for the related transaction, prefixed with 'trxn_'"},"customerId":{"type":"string","example":"cus_GqfKXLmg61LURZhB","description":"Unique identifier for the customer attached to the payment, prefixed with 'cus_'"},"phoneNumber":{"type":"string","description":"Customer Safaricom phone number that received the M-Pesa STK Push","example":"254712345678"},"amount":{"type":"number","exclusiveMinimum":0,"example":1000,"description":"Payment amount in the smallest currency unit"},"currency":{"type":"string","example":"KES","description":"Three-letter ISO currency code for the payment"},"status":{"type":"string","enum":["pending"],"example":"pending","description":"Initial payment status after the STK Push request is accepted"},"description":{"type":"string","example":"Premium plan","description":"Short customer-facing payment description"},"accountReference":{"type":"string","example":"ORDER123","description":"Short alphanumeric reference that was sent to M-Pesa and stored with this payment, such as an order or invoice number."},"environment":{"type":"string","enum":["sandbox","production"],"example":"sandbox","description":"Environment where the payment was created. Either 'sandbox' or 'production'"},"timestamp":{"type":"string","format":"date-time","example":"2024-12-19T10:25:00.000Z","description":"Timestamp when the payment request was accepted (ISO 8601 format)"},"message":{"type":"string","example":"Payment request sent to customer","description":"Human-readable message describing the initiation result"}},"required":["paymentId","transactionId","customerId","phoneNumber","amount","currency","status","description","accountReference","environment","timestamp","message"],"example":{"paymentId":"pay_ABC123DEF456GHI","transactionId":"trxn_ABC123DEF456GHI","customerId":"cus_GqfKXLmg61LURZhB","phoneNumber":"254712345678","amount":1000,"currency":"KES","status":"pending","description":"Premium plan","accountReference":"ORDER123","environment":"sandbox","timestamp":"2024-12-19T10:25:00.000Z","message":"Payment request sent to customer"},"description":"Payment Response"},"PaymentStatus":{"type":"object","properties":{"id":{"type":"string","example":"pay_ABC123DEF456GHI","description":"Unique identifier for the payment, prefixed with 'pay_'"},"transactionId":{"type":"string","example":"trxn_ABC123DEF456GHI","description":"Unique identifier for the related transaction, prefixed with 'trxn_'"},"customerId":{"type":["string","null"],"example":"cus_GqfKXLmg61LURZhB","description":"Unique identifier for the customer attached to the payment, prefixed with 'cus_'"},"merchantRequestId":{"type":["string","null"],"example":"29115-34620561-1","description":"M-Pesa MerchantRequestID returned by Safaricom"},"checkoutRequestId":{"type":["string","null"],"example":"ws_CO_191220241030123456789","description":"M-Pesa CheckoutRequestID used to reconcile the STK push"},"status":{"$ref":"#/components/schemas/TransactionStatus"},"statusDetail":{"type":["string","null"],"example":"The service request is processed successfully.","description":"Provider detail explaining the current payment status, when available"},"failureReason":{"type":["string","null"],"example":"The customer cancelled the STK prompt.","description":"Developer-readable explanation when the payment failed, was canceled, or moved to an unknown state. Null for successful or in-progress payments."},"amount":{"type":"number","example":1000,"description":"Payment amount in the smallest currency unit"},"currency":{"type":"string","example":"KES","description":"Three-letter ISO currency code for the payment"},"description":{"type":"string","example":"Premium plan","description":"Short customer-facing payment description"},"accountReference":{"type":"string","example":"ORDER123","description":"Short alphanumeric reference that was sent to M-Pesa and stored with this payment, such as an order or invoice number."},"receiptNumber":{"type":["string","null"],"example":"QMF7MBB5ED","description":"M-Pesa receipt number for a completed payment"},"environment":{"type":"string","enum":["sandbox","production"],"example":"sandbox","description":"Environment where the payment was created. Either 'sandbox' or 'production'"},"createdAt":{"type":"string","format":"date-time","example":"2024-12-19T10:25:00.000Z","description":"Timestamp when the payment was created (ISO 8601 format)"},"updatedAt":{"type":"string","format":"date-time","example":"2024-12-19T10:32:00.000Z","description":"Timestamp when the payment was last updated (ISO 8601 format)"},"processedAt":{"type":["string","null"],"format":"date-time","example":"2024-12-19T10:32:00.000Z","description":"Timestamp when the payment reached a terminal completed, failed, canceled, or unknown state (ISO 8601 format)"},"completedAt":{"type":["string","null"],"format":"date-time","example":"2024-12-19T10:32:00.000Z","description":"Timestamp when the payment completed successfully (ISO 8601 format)"},"failedAt":{"type":["string","null"],"format":"date-time","example":null,"description":"Timestamp when the payment failed (ISO 8601 format)"},"unknownAt":{"type":["string","null"],"format":"date-time","example":null,"description":"Timestamp when the payment moved to an unknown state (ISO 8601 format)"}},"required":["id","transactionId","customerId","merchantRequestId","checkoutRequestId","status","statusDetail","failureReason","amount","currency","description","accountReference","receiptNumber","environment","createdAt","updatedAt","processedAt","completedAt","failedAt","unknownAt"],"example":{"id":"pay_ABC123DEF456GHI","transactionId":"trxn_ABC123DEF456GHI","customerId":"cus_GqfKXLmg61LURZhB","merchantRequestId":"29115-34620561-1","checkoutRequestId":"ws_CO_191220241030123456789","status":"completed","statusDetail":"The service request is processed successfully.","failureReason":null,"amount":1000,"currency":"KES","description":"Premium plan","accountReference":"ORDER123","receiptNumber":"QMF7MBB5ED","environment":"sandbox","createdAt":"2024-12-19T10:25:00.000Z","updatedAt":"2024-12-19T10:32:00.000Z","processedAt":"2024-12-19T10:32:00.000Z","completedAt":"2024-12-19T10:32:00.000Z","failedAt":null,"unknownAt":null},"description":"Payment Status"},"PaymentLookupId":{"type":"string","example":"pay_ABC123DEF456GHI","description":"Payment lookup identifier. Use a paymentId prefixed with 'pay_' or the related transactionId prefixed with 'trxn_'."}},"parameters":{},"securitySchemes":{"token":{"type":"http","scheme":"bearer","description":"The API key to use for authentication","x-speakeasy-example":"MOFLAY_API_KEY"}}},"x-speakeasy-retries":{"strategy":"backoff","backoff":{"initialInterval":500,"maxInterval":60000,"maxElapsedTime":3600000,"exponent":1.5},"statusCodes":["5XX"],"retryConnectionErrors":true},"x-speakeasy-errors":{"statusCodes":["4XX","5XX"]},"x-mint":{"mcp":{"enabled":true}},"paths":{"/v1/customers":{"get":{"tags":["Customers"],"summary":"List all customers","description":"Get a list of all customers in the organization\n\n**Permissions**: `customers.read`","operationId":"listCustomers","security":[{"token":[]}],"x-speakeasy-name-override":"list","x-speakeasy-pagination":{"type":"cursor","inputs":[{"name":"cursor","in":"parameters","type":"cursor"},{"name":"limit","in":"parameters","type":"limit"}],"outputs":{"nextCursor":"$.meta.cursor"}},"parameters":[{"schema":{"type":["string","null"],"example":"John Doe","description":"Search for a customer by name, phone number, or description"},"required":false,"description":"Search for a customer by name, phone number, or description","in":"query","name":"q"},{"schema":{"type":["string","null"],"example":"eyJpZCI6IjEyMyJ9","description":"Cursor for pagination, representing the last item from the previous page"},"required":false,"description":"Cursor for pagination, representing the last item from the previous page","in":"query","name":"cursor"},{"schema":{"type":"number","minimum":1,"maximum":100,"default":10,"example":10,"description":"The number of customers to return (1-100)"},"required":false,"description":"The number of customers to return (1-100)","in":"query","name":"limit"},{"schema":{"type":["string","null"],"format":"date-time","description":"Start date (inclusive) for filtering customers in ISO 8601 format","example":"2024-12-01T00:00:00.000Z"},"required":false,"description":"Start date (inclusive) for filtering customers in ISO 8601 format","name":"start","in":"query"},{"schema":{"type":["string","null"],"format":"date-time","description":"End date (inclusive) for filtering customers in ISO 8601 format","example":"2024-12-31T23:59:59.999Z"},"required":false,"description":"End date (inclusive) for filtering customers in ISO 8601 format","name":"end","in":"query"},{"schema":{"type":"string","enum":["asc","desc"],"default":"desc","description":"The order in which to sort results. Defaults to `'desc'`. Use `'asc'` for ascending (oldest first) or `'desc'` for descending (newest first).","example":"desc"},"required":false,"description":"The order in which to sort results. Defaults to `'desc'`. Use `'asc'` for ascending (oldest first) or `'desc'` for descending (newest first).","in":"query","name":"sortOrder"},{"schema":{"type":"string","enum":["createdAt","name","lastActiveAt","countryCode","phoneNumber","firstTransactionAt","isActive","isVerified"],"default":"createdAt","description":"The field to sort results by. Defaults to `'createdAt'`. Supported fields include any sortable customer property.","example":"createdAt"},"required":false,"description":"The field to sort results by. Defaults to `'createdAt'`. Supported fields include any sortable customer property.","in":"query","name":"sortBy"}],"responses":{"200":{"description":"List of all customers","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerListResponse"}}}},"401":{"description":"Missing API Key Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MissingApiKeyError"}}}},"403":{"description":"Invalid API Key Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvalidApiKeyError"}}}},"405":{"description":"Method Not Allowed Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MethodNotAllowedError"}}}},"422":{"description":"The validation error(s) or invalid access error","content":{"application/json":{"schema":{"anyOf":[{"$ref":"#/components/schemas/ValidationError"},{"$ref":"#/components/schemas/InvalidAccessError"}],"description":"The validation error(s) or invalid access error"}}}},"429":{"description":"Rate Limit Exceeded Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RateLimitExceededError"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerError"}}}}}},"post":{"tags":["Customers"],"summary":"Create a customer","description":"Create a customer in the organization\n\n**Permissions**: `customers.write`","operationId":"create","security":[{"token":[]}],"x-speakeasy-name-override":"create","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerRequest"}}}},"responses":{"200":{"description":"Get One Customer","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/Customer"},{"description":"Get One Customer"}]}}}},"401":{"description":"Missing API Key Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MissingApiKeyError"}}}},"403":{"description":"Invalid API Key Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvalidApiKeyError"}}}},"405":{"description":"Method Not Allowed Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MethodNotAllowedError"}}}},"409":{"description":"Duplicate Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DuplicateError"}}}},"422":{"description":"The validation error(s) or invalid access error","content":{"application/json":{"schema":{"anyOf":[{"$ref":"#/components/schemas/ValidationError"},{"$ref":"#/components/schemas/InvalidAccessError"}],"description":"The validation error(s) or invalid access error"}}}},"429":{"description":"Rate Limit Exceeded Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RateLimitExceededError"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerError"}}}}}}},"/v1/customers/{id}":{"get":{"tags":["Customers"],"summary":"Get a customer","description":"Get a customer by their ID in the organization\n\n**Permissions**: `customers.read`","operationId":"getCustomer","security":[{"token":[]}],"x-speakeasy-name-override":"getOne","parameters":[{"schema":{"allOf":[{"$ref":"#/components/schemas/CustomerId"},{"description":"Unique identifier for the customer, prefixed with 'cus_'."}]},"required":true,"description":"Unique identifier for the customer, prefixed with 'cus_'.","name":"id","in":"path"}],"responses":{"200":{"description":"Get One Customer","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/Customer"},{"description":"Get One Customer"}]}}}},"401":{"description":"Missing API Key Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MissingApiKeyError"}}}},"403":{"description":"Invalid API Key Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvalidApiKeyError"}}}},"404":{"description":"Customer Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotFoundError"}}}},"405":{"description":"Method Not Allowed Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MethodNotAllowedError"}}}},"422":{"description":"The validation error(s) or invalid access error","content":{"application/json":{"schema":{"anyOf":[{"$ref":"#/components/schemas/ValidationError"},{"$ref":"#/components/schemas/InvalidAccessError"}],"description":"The validation error(s) or invalid access error"}}}},"429":{"description":"Rate Limit Exceeded Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RateLimitExceededError"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerError"}}}}}},"patch":{"tags":["Customers"],"summary":"Update a customer","description":"Update a customer in the organization\n\n**Permissions**: `customers.write`","operationId":"update","security":[{"token":[]}],"x-speakeasy-name-override":"update","parameters":[{"schema":{"allOf":[{"$ref":"#/components/schemas/CustomerId"},{"description":"Unique identifier for the customer, prefixed with 'cus_'."}]},"required":true,"description":"Unique identifier for the customer, prefixed with 'cus_'.","name":"id","in":"path"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerRequest"}}}},"responses":{"200":{"description":"Get One Customer","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/Customer"},{"description":"Get One Customer"}]}}}},"401":{"description":"Missing API Key Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MissingApiKeyError"}}}},"403":{"description":"Invalid API Key Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvalidApiKeyError"}}}},"404":{"description":"Customer Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotFoundError"}}}},"405":{"description":"Method Not Allowed Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MethodNotAllowedError"}}}},"409":{"description":"Duplicate Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DuplicateError"}}}},"422":{"description":"The validation error(s) or invalid access error","content":{"application/json":{"schema":{"anyOf":[{"$ref":"#/components/schemas/ValidationError"},{"$ref":"#/components/schemas/InvalidAccessError"}],"description":"The validation error(s) or invalid access error"}}}},"429":{"description":"Rate Limit Exceeded Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RateLimitExceededError"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerError"}}}}}},"delete":{"tags":["Customers"],"summary":"Delete a customer","description":"Delete a customer by their ID in the organization\n\n**Permissions**: `customers.write`","operationId":"delete","security":[{"token":[]}],"x-speakeasy-name-override":"delete","parameters":[{"schema":{"allOf":[{"$ref":"#/components/schemas/CustomerId"},{"description":"Unique identifier for the customer, prefixed with 'cus_'."}]},"required":true,"description":"Unique identifier for the customer, prefixed with 'cus_'.","name":"id","in":"path"}],"responses":{"200":{"description":"Customer deleted successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerDeleteResponse"}}}},"401":{"description":"Missing API Key Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MissingApiKeyError"}}}},"403":{"description":"Invalid API Key Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvalidApiKeyError"}}}},"404":{"description":"Customer Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotFoundError"}}}},"405":{"description":"Method Not Allowed Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MethodNotAllowedError"}}}},"422":{"description":"The validation error(s) or invalid access error","content":{"application/json":{"schema":{"anyOf":[{"$ref":"#/components/schemas/ValidationError"},{"$ref":"#/components/schemas/InvalidAccessError"}],"description":"The validation error(s) or invalid access error"}}}},"429":{"description":"Rate Limit Exceeded Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RateLimitExceededError"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerError"}}}}}}},"/v1/transactions":{"get":{"tags":["Transactions"],"summary":"List transactions","description":"List all transactions in the organization\n\n**Permissions**: `transactions.read`","operationId":"listTransactions","security":[{"token":[]}],"x-speakeasy-name-override":"list","x-speakeasy-pagination":{"type":"cursor","inputs":[{"name":"cursor","in":"parameters","type":"cursor"},{"name":"limit","in":"parameters","type":"limit"}],"outputs":{"nextCursor":"$.meta.cursor"}},"parameters":[{"schema":{"type":["string","null"],"example":"Premium Subscription","description":"Search for transactions by description, phone number, or receipt number"},"required":false,"description":"Search for transactions by description, phone number, or receipt number","name":"q","in":"query"},{"schema":{"type":["string","null"],"example":"eyJpZCI6IjEyMyJ9","description":"Cursor for pagination, representing the last item from the previous page"},"required":false,"description":"Cursor for pagination, representing the last item from the previous page","in":"query","name":"cursor"},{"schema":{"type":["string","null"],"example":"cus_MNO345PQR678STU","description":"Filter transactions by specific customer ID"},"required":false,"description":"Filter transactions by specific customer ID","name":"customerId","in":"query"},{"schema":{"type":["array","null"],"items":{"$ref":"#/components/schemas/TransactionStatus"},"example":["pending","completed","canceled"],"description":"Array of transaction statuses to filter by. Available statuses: 'initiating', 'pending', 'completed', 'failed', 'canceled', 'unknown'"},"required":false,"description":"Array of transaction statuses to filter by. Available statuses: 'initiating', 'pending', 'completed', 'failed', 'canceled', 'unknown'","name":"statuses","in":"query"},{"schema":{"type":["array","null"],"items":{"type":"number"},"description":"Amount range as [min, max] in cents to filter transactions by monetary value. Example: [10000, 50000] for KES 100.00 to KES 500.00","example":[10000,50000]},"required":false,"description":"Amount range as [min, max] in cents to filter transactions by monetary value. Example: [10000, 50000] for KES 100.00 to KES 500.00","name":"amountRange","in":"query"},{"schema":{"type":["array","null"],"items":{"type":"string"},"description":"Array of specific amounts (as strings in KES) to filter transactions by exact values. Values are converted to cents internally.","example":["150.75","299.99","1000.00"]},"required":false,"description":"Array of specific amounts (as strings in KES) to filter transactions by exact values. Values are converted to cents internally.","name":"amount","in":"query"},{"schema":{"type":"number","minimum":1,"maximum":100,"default":10,"example":10,"description":"The number of transactions to return (1-100)"},"required":false,"description":"The number of transactions to return (1-100)","in":"query","name":"limit"},{"schema":{"type":["string","null"],"format":"date-time","description":"Start date (inclusive) for filtering transactions in ISO 8601 format","example":"2024-12-01T00:00:00.000Z"},"required":false,"description":"Start date (inclusive) for filtering transactions in ISO 8601 format","name":"start","in":"query"},{"schema":{"type":["string","null"],"format":"date-time","description":"End date (inclusive) for filtering transactions in ISO 8601 format","example":"2024-12-31T23:59:59.999Z"},"required":false,"description":"End date (inclusive) for filtering transactions in ISO 8601 format","name":"end","in":"query"},{"schema":{"type":"string","enum":["asc","desc"],"default":"desc","example":"desc"},"required":false,"in":"query","name":"sortOrder"},{"schema":{"type":"string","enum":["createdAt","paidAt","failedAt","amount","status","phoneNumber","processedAt"],"default":"createdAt","example":"createdAt"},"required":false,"in":"query","name":"sortBy"}],"responses":{"200":{"description":"List of all transactions","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TransactionListResponse"}}}},"401":{"description":"Missing API Key Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MissingApiKeyError"}}}},"403":{"description":"Invalid API Key Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvalidApiKeyError"}}}},"405":{"description":"Method Not Allowed Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MethodNotAllowedError"}}}},"422":{"description":"The validation error(s) or invalid access error","content":{"application/json":{"schema":{"anyOf":[{"$ref":"#/components/schemas/ValidationError"},{"$ref":"#/components/schemas/InvalidAccessError"}],"description":"The validation error(s) or invalid access error"}}}},"429":{"description":"Rate Limit Exceeded Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RateLimitExceededError"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerError"}}}}}}},"/v1/transactions/{id}":{"get":{"tags":["Transactions"],"summary":"Get transaction","description":"Get a transaction in the organization\n\n**Permissions**: `transactions.read`","operationId":"getTransaction","security":[{"token":[]}],"x-speakeasy-name-override":"getOne","parameters":[{"schema":{"$ref":"#/components/schemas/TransactionId"},"required":true,"description":"Unique identifier for the transaction, prefixed with 'trxn_'","name":"id","in":"path"}],"responses":{"200":{"description":"Get One Transaction","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/Transaction"},{"description":"Get One Transaction"}]}}}},"401":{"description":"Missing API Key Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MissingApiKeyError"}}}},"403":{"description":"Invalid API Key Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvalidApiKeyError"}}}},"404":{"description":"Transaction Not Found","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/NotFoundError"},{"description":"Transaction Not Found"}]}}}},"405":{"description":"Method Not Allowed Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MethodNotAllowedError"}}}},"422":{"description":"The validation error(s) or invalid access error","content":{"application/json":{"schema":{"anyOf":[{"$ref":"#/components/schemas/ValidationError"},{"$ref":"#/components/schemas/InvalidAccessError"}],"description":"The validation error(s) or invalid access error"}}}},"429":{"description":"Rate Limit Exceeded Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RateLimitExceededError"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerError"}}}}}}},"/v1/express":{"post":{"tags":["Express"],"summary":"Initiate express payment","description":"Initiate an M-Pesa Express (STK Push) payment.\n\n**Permissions**: `express.pay`","operationId":"express","security":[{"token":[]}],"x-speakeasy-name-override":"pay","x-speakeasy-usage-example":true,"parameters":[{"schema":{"type":"string","minLength":1,"maxLength":256,"example":"express_order_12345","description":"Optional idempotency key used to safely retry the same Express payment request without creating duplicate payment attempts."},"required":false,"description":"Optional idempotency key used to safely retry the same Express payment request without creating duplicate payment attempts.","name":"Idempotency-Key","in":"header"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"phoneNumber":{"type":"string","description":"Safaricom phone number in local (e.g., 0712345678, 0110123456) or international (e.g., 254712345678, 254110123456) format, transformed to 254XXXXXXXXX for M-PESA STK Push. Supports all Safaricom prefixes (070X, 074X, 0757–0759, 0768–0769, 079X, 0110–0117).","example":"254712345678"},"customerId":{"type":"string","maxLength":255},"customerName":{"type":"string","minLength":1},"customerDescription":{"type":"string","minLength":1,"maxLength":255},"customerMetadata":{"$ref":"#/components/schemas/Metadata"},"amount":{"type":"integer","exclusiveMinimum":0,"maximum":250000},"description":{"type":"string","minLength":1,"maxLength":13},"accountReference":{"type":"string","minLength":1,"maxLength":12,"pattern":"^[a-zA-Z0-9]+$","example":"ORDER123","description":"Short alphanumeric reference shown by M-Pesa and stored with the payment, such as an order or invoice number. If omitted, Moflay uses your configured default account reference."},"metadata":{"$ref":"#/components/schemas/Metadata"}},"required":["amount","description"]}}}},"responses":{"202":{"description":"Payment Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DarajaExpressResponse"}}}},"401":{"description":"Missing API Key Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MissingApiKeyError"}}}},"403":{"description":"Invalid API Key Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvalidApiKeyError"}}}},"405":{"description":"Method Not Allowed Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MethodNotAllowedError"}}}},"422":{"description":"The validation error(s) or invalid access error","content":{"application/json":{"schema":{"anyOf":[{"$ref":"#/components/schemas/ValidationError"},{"$ref":"#/components/schemas/InvalidAccessError"}],"description":"The validation error(s) or invalid access error"}}}},"429":{"description":"Rate Limit Exceeded Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RateLimitExceededError"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerError"}}}}}}},"/v1/payments/{id}":{"get":{"tags":["Payments"],"summary":"Get payment","description":"Get the current status of an Express payment attempt using either the paymentId or related transactionId returned by POST /v1/express.\n\n**Permissions**: `transactions.read`","operationId":"getPayment","security":[{"token":[]}],"x-speakeasy-name-override":"getOne","parameters":[{"schema":{"$ref":"#/components/schemas/PaymentLookupId"},"required":true,"description":"Payment lookup identifier. Use a paymentId prefixed with 'pay_' or the related transactionId prefixed with 'trxn_'.","name":"id","in":"path"}],"responses":{"200":{"description":"Payment Status","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaymentStatus"}}}},"401":{"description":"Missing API Key Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MissingApiKeyError"}}}},"403":{"description":"Invalid API Key Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvalidApiKeyError"}}}},"404":{"description":"Payment Not Found","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/NotFoundError"},{"description":"Payment Not Found"}]}}}},"405":{"description":"Method Not Allowed Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MethodNotAllowedError"}}}},"422":{"description":"The validation error(s) or invalid access error","content":{"application/json":{"schema":{"anyOf":[{"$ref":"#/components/schemas/ValidationError"},{"$ref":"#/components/schemas/InvalidAccessError"}],"description":"The validation error(s) or invalid access error"}}}},"429":{"description":"Rate Limit Exceeded Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RateLimitExceededError"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerError"}}}}}}}},"webhooks":{"customer.created":{"post":{"x-svix-group-name":"customer","tags":["Webhooks","Customer Events"],"summary":"Customer Created","operationId":"customer.created","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Customer"},"type":{"type":"string","default":"customer.created","example":"customer.created","description":"Event type for customer.created"},"object":{"type":"string","default":"event","example":"event","description":"Object type, always \"event\""},"timestamp":{"type":"string","example":"2021-01-01T00:00:00Z","description":"ISO 8601 timestamp when the event occurred"}},"required":["data","timestamp"],"description":"Webhook payload for customer.created events"}}}},"responses":{"200":{"description":"Webhook received successfully"}}}},"customer.updated":{"post":{"x-svix-group-name":"customer","tags":["Webhooks","Customer Events"],"summary":"Customer Updated","operationId":"customer.updated","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Customer"},"type":{"type":"string","default":"customer.updated","example":"customer.updated","description":"Event type for customer.updated"},"object":{"type":"string","default":"event","example":"event","description":"Object type, always \"event\""},"timestamp":{"type":"string","example":"2021-01-01T00:00:00Z","description":"ISO 8601 timestamp when the event occurred"}},"required":["data","timestamp"],"description":"Webhook payload for customer.updated events"}}}},"responses":{"200":{"description":"Webhook received successfully"}}}},"customer.deleted":{"post":{"x-svix-group-name":"customer","tags":["Webhooks","Customer Events"],"summary":"Customer Deleted","operationId":"customer.deleted","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/CustomerDeletedWebhookPayload"},"type":{"type":"string","default":"customer.deleted","example":"customer.deleted","description":"Event type for customer.deleted"},"object":{"type":"string","default":"event","example":"event","description":"Object type, always \"event\""},"timestamp":{"type":"string","example":"2021-01-01T00:00:00Z","description":"ISO 8601 timestamp when the event occurred"}},"required":["data","timestamp"],"description":"Webhook payload for customer.deleted events"}}}},"responses":{"200":{"description":"Webhook received successfully"}}}},"payment.completed":{"post":{"x-svix-group-name":"payment","tags":["Webhooks","Payment Events"],"summary":"Payment Completed","operationId":"payment.completed","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/PaymentWebhookPayload"},"type":{"type":"string","default":"payment.completed","example":"payment.completed","description":"Event type for payment.completed"},"object":{"type":"string","default":"event","example":"event","description":"Object type, always \"event\""},"timestamp":{"type":"string","example":"2021-01-01T00:00:00Z","description":"ISO 8601 timestamp when the event occurred"}},"required":["data","timestamp"],"description":"Webhook payload for payment.completed events"}}}},"responses":{"200":{"description":"Webhook received successfully"}}}},"payment.failed":{"post":{"x-svix-group-name":"payment","tags":["Webhooks","Payment Events"],"summary":"Payment Failed","operationId":"payment.failed","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/PaymentWebhookPayload"},"type":{"type":"string","default":"payment.failed","example":"payment.failed","description":"Event type for payment.failed"},"object":{"type":"string","default":"event","example":"event","description":"Object type, always \"event\""},"timestamp":{"type":"string","example":"2021-01-01T00:00:00Z","description":"ISO 8601 timestamp when the event occurred"}},"required":["data","timestamp"],"description":"Webhook payload for payment.failed events"}}}},"responses":{"200":{"description":"Webhook received successfully"}}}},"payment.canceled":{"post":{"x-svix-group-name":"payment","tags":["Webhooks","Payment Events"],"summary":"Payment Canceled","operationId":"payment.canceled","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/PaymentWebhookPayload"},"type":{"type":"string","default":"payment.canceled","example":"payment.canceled","description":"Event type for payment.canceled"},"object":{"type":"string","default":"event","example":"event","description":"Object type, always \"event\""},"timestamp":{"type":"string","example":"2021-01-01T00:00:00Z","description":"ISO 8601 timestamp when the event occurred"}},"required":["data","timestamp"],"description":"Webhook payload for payment.canceled events"}}}},"responses":{"200":{"description":"Webhook received successfully"}}}}}}